{% extends "dojango/base.html" %}

{% block dojango_post_dj_config %}
	<script>
		djConfig.parseOnLoad = false;
	</script>
{% endblock %}

{% block dojango_header_extra %}

	<style type="text/css">
		html, body { height: 100%; width: 100%; padding: 0; border: 0; }
		#main { height: 100%; width: 100%; padding: 0; border: 0; }
/*		#header, #mainSplit { margin: 10px; } */
		#leftAccordion { width: 25%; }
		#bottomTabs { height: 40%; }
		#main .dijitSplitterH { height: 7px }
		#main .dijitSplitterV { width: 7px }

		/* pre-loader specific stuff to prevent unsightly flash of unstyled content */
		#loader { 
			padding:0;
			margin:0;
			position:absolute; 
			top:0; left:0; 
			width:100%; height:100%;  
			background:#ededed; 
			z-index:999;
			vertical-align:center; 
		}
		#loaderInner {
			padding:5px;
			position:relative; 
			left:0;
			top:0; 		
			width:275px; 
			background:#3c3; 
			color:#fff; 			
			
		}

		hr.spacer { border:0; background-color:#ededed; width:80%; height:1px; } 

		/* for custom menu buttons, do not appear to have any effect */
		.myCustomTheme .dijitButtonNode {
			border:1px solid #000;
			vertical-align: middle;
			padding: 0.2em 0.2em;
			background: url("themeTesterImages/blackButtonEnabled.gif") repeat-x bottom left #474747;
			color: blue;
		}
		
		.myCustomTheme .dijitButtonHover .dijitButtonNode,
		.myCustomTheme .dijitToggleButtonHover .dijitButtonNode {
			background: url("themeTesterImages/blackButtonHover.gif") repeat-x bottom left #3b3b3b !important;
		}
	</style>

	<script type="text/javascript">
		window.__globalList = {dojo: true, dijit: true, dojox: true, djConfig: true};
		for(var i in window){
			window.__globalList[i] = true;
		}
	</script>
<script type="text/javascript" src="/static/{{ STATIC_URL }}lib/js/freeadmin.js"></script>
	<script type="text/javascript">
volumeWizard('Volume Manager', '/storage/wizard/', [this,]);
	</script>
{% endblock %}

{% block dojango_body %}
<body class="{{ DOJANGO.THEME }}">
	<!-- basic preloader: -->
	<div id="loader"><div id="loaderInner">Loading themeTester: </div></div>

	<!-- data for tree and combobox -->
	<div dojoType="dojo.data.ItemFileReadStore" jsId="continentStore"
		url="countries/"></div>
	<div dojoType="dojox.data.QueryReadStore" jsId="stateStore" requestMethod="post" clientPaging="false"
		url="states/"></div>
	<!-- contentMenu popup -->
	<div dojoType="dijit.Menu" id="submenu1" contextMenuForWindow="true" style="display: none;">
		<div dojoType="dijit.MenuItem" onClick="alert('Hello world');">Enabled Item</div>
		<div dojoType="dijit.MenuItem" disabled="true">Disabled Item</div>
		<div dojoType="dijit.MenuSeparator"></div>
		<div dojoType="dijit.MenuItem" iconClass="dijitEditorIcon dijitEditorIconCut"
			onClick="alert('not actually cutting anything, just a test!')">Cut</div>
		<div dojoType="dijit.MenuItem" iconClass="dijitEditorIcon dijitEditorIconCopy"
			onClick="alert('not actually copying anything, just a test!')">Copy</div>
		<div dojoType="dijit.MenuItem" iconClass="dijitEditorIcon dijitEditorIconPaste"
			onClick="alert('not actually pasting anything, just a test!')">Paste</div>
		<div dojoType="dijit.MenuSeparator"></div>
		<div dojoType="dijit.PopupMenuItem">
			<span>Enabled Submenu</span>
			<div dojoType="dijit.Menu" id="submenu2">
				<div dojoType="dijit.MenuItem" onClick="alert('Submenu 1!')">Submenu Item One</div>
				<div dojoType="dijit.MenuItem" onClick="alert('Submenu 2!')">Submenu Item Two</div>
				<div dojoType="dijit.PopupMenuItem">
					<span>Deeper Submenu</span>
					<div dojoType="dijit.Menu" id="submenu4">
						<div dojoType="dijit.MenuItem" onClick="alert('Sub-submenu 1!')">Sub-sub-menu Item One</div>
						<div dojoType="dijit.MenuItem" onClick="alert('Sub-submenu 2!')">Sub-sub-menu Item Two</div>
					</div>
				</div>
			</div>
		</div>
		<div dojoType="dijit.PopupMenuItem" disabled="true">
			<span>Disabled Submenu</span>
			<div dojoType="dijit.Menu" id="submenu3" style="display: none;">
				<div dojoType="dijit.MenuItem" onClick="alert('Submenu 1!')">Submenu Item One</div>
				<div dojoType="dijit.MenuItem" onClick="alert('Submenu 2!')">Submenu Item Two</div>
			</div>
		</div>
		<div dojoType="dijit.PopupMenuItem">
			<span>Different popup</span>
			<div dojoType="dijit.ColorPalette"></div>
		</div>
		<div dojoType="dijit.PopupMenuItem">
			<span>Different popup</span>
			<div dojoType="dijit._Calendar"></div>
		</div>
	</div>
	<!-- end contextMenu -->

	<!-- "main" BorderContainer just contains page title and another BorderContainer -->


	  <h1 id="header" dojoType="dijit.layout.ContentPane" region="top">This is my test page</h1>

	      <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick="dijit.byId('dialog_Create_Volume').show()">
		Create Volume
	      </button>
	      <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick="dijit.byId('dialog1').show()">
		Disk settings
	      </button>
	      <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'>
		SMART detection
	      </button>
	      <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'>
		SMART information
	      </button>
	      <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'>
		Disk information
	      </button>
	      <br/>
<style type="text/css">
    @import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/grid/resources/Grid.css";
    @import "http://ajax.googleapis.com/ajax/libs/dojo/1.6/dojox/grid/resources/claroGrid.css";
    .dojoxGrid table { margin: 0; } html, body { width: 100%; height: 100%;
    margin: 0; }
</style>

<!-- my dialog -->
<div id="gridContainer4" style="width: 100%; height: 100%;">
    <button id="addVolumeBtn" data-dojo-type="dijit.form.Button">

    <p>"Volume Manager11111"</p>
    <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
        volumeWizard('Volume Manager', '/storage/wizard/', [this,]);
    </script>
    </button>

<div id="dialog_Create_Volume" dojoType="dijit.Dialog" title="Disk Function" style="display:none;">
<div dojoType="dojox.layout.TableContainer" cols="1" id="tc1">
    <div dojoType="dijit.form.TextBox" title="Volume name:" value="">
    </div>
    <div dojoType="dijit.form.TextBox" title="Member disks:" value="XXXXX">
    </div>
    <div dojoType="dijit.form.CheckBox" title="Employed">
    </div>
    <div dojoType="dijit.form.NumberSpinner" title="Age" value="25">
    </div>

                <button dojoType="dijit.form.Button" type="submit" onClick="return dijit.byId('formDialog').isValid();">
                    OK
                </button>
                <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('formDialog').hide();">
                    Cancel
                </button>

	      <!-- <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'> -->
	      <!-- 	SMART information -->
	      <!-- </button> -->
	      <!-- <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'> -->
	      <!-- 	Disk information -->
	      <!-- </button> -->

</div>
</div>
<div id="dialog1" dojoType="dijit.Dialog" title="Disk Function" style="display:none;">
<div dojoType="dojox.layout.TableContainer" cols="1" id="tc1">
    <div dojoType="dijit.form.TextBox" title="Name:" value="Disk1">
    </div>
    <div dojoType="dijit.form.TextBox" title="Info:" value="XXXXX">
    </div>
    <div dojoType="dijit.form.CheckBox" title="Employed">
    </div>
    <div dojoType="dijit.form.NumberSpinner" title="Age" value="25">
    </div>

                <button dojoType="dijit.form.Button" type="submit" onClick="return dijit.byId('formDialog').isValid();">
                    OK
                </button>
                <button dojoType="dijit.form.Button" type="button" onClick="dijit.byId('formDialog').hide();">
                    Cancel
                </button>

	      <!-- <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'> -->
	      <!-- 	SMART information -->
	      <!-- </button> -->
	      <!-- <button dojoType="dijit.form.Button" iconClass="plusIcon" onClick='console.debug("clicked simple")'> -->
	      <!-- 	Disk information -->
	      <!-- </button> -->

</div>
</div>
<script type="text/javascript">
    dojo.require("dojox.grid.DataGrid");
dojo.require("dojox.data.CsvStore");
dojo.require("dijit.dijit");
dojo.require("dojox.layout.TableContainer");
dojo.require("dijit.form.TextBox");
dojo.require("dijit.form.CheckBox");
dojo.require("dijit.form.NumberSpinner");
  
dojo.addOnLoad(function() {
    
    var store4 = new dojox.data.CsvStore({
        url: '../../storage/get_disks'
    });
    
    // set the layout structure:
    var layout4 = [{
        field: 'No',
        name: 'Disk No.',
        width: '80px'
    },
                   {
                       field: 'Type',
                       name: 'Type',
                       width: '250px'
                   },
                   {
                       field: 'Size',
                       name: 'Size',
                       width: 'auto'
                   }];
    
    // create a new grid:
    var grid4 = new dojox.grid.DataGrid({
        store: store4,
        structure: layout4
    },	document.createElement('div'));
    
    // append the new grid to the div "gridContainer4":
    dojo.byId("gridContainer4").appendChild(grid4.domNode);
    
    // Call startup, in order to render the grid:
    grid4.startup();
});
</script>

	<script type="text/javascript"> // dojo.requires()

var loadingEl = dojo.byId("loaderInner");
		loadingEl.innerHTML += "<br />* Menu widgets - dijit.Menu";
		dojo.require("dijit.Menu");
		dojo.require("dijit._Calendar");
		dojo.require("dijit.ColorPalette");
		dojo.require("dijit.ProgressBar");
		dojo.require("dijit.TitlePane");
		dojo.require("dijit.Tooltip");
		dojo.require("dijit.Tree");
		loadingEl.innerHTML += "<br />* Tree widget - dijit.Tree";

		// editor:
		loadingEl.innerHTML += "<br />* Rich text editor - dijit.Editor";
		dojo.require("dijit.Editor"); 
		
		// dnd:
		loadingEl.innerHTML += "<br />* Drag and drop library - dojo.dnd";
		dojo.require("dojo.dnd.Source");

		// various Form elemetns
		loadingEl.innerHTML += "<br />* Form widgets - dijit.form";
		dojo.require("dijit.form.CheckBox");
		dojo.require("dijit.form.Textarea");
		dojo.require("dijit.form.FilteringSelect");
		dojo.require("dijit.form.TextBox");
		dojo.require("dijit.form.DateTextBox");	
		dojo.require("dijit.form.TimeTextBox");	
		dojo.require("dijit.form.Button");
		dojo.require("dijit.InlineEditBox");
		dojo.require("dijit.form.NumberSpinner");
		dojo.require("dijit.form.Slider"); 

		// layouts used in page
		loadingEl.innerHTML += "<br />* Layout engine widgets - dijit.layout";
		dojo.require("dijit.layout.AccordionContainer");
		dojo.require("dijit.layout.ContentPane");
		dojo.require("dijit.layout.TabContainer");
		dojo.require("dijit.layout.BorderContainer");
		loadingEl.innerHTML += "<br />* Dialog widgets - dijit.Dialog";
		dojo.require("dijit.Dialog");

		// scan page for widgets and instantiate them
		dojo.require("dojo.parser");	

		// humm?		
		dojo.require("dojo.date.locale");

		// for the Tree
		loadingEl.innerHTML += "<br />* Dojo server data interfaces - dojo.data stores";
		dojo.require("dojo.data.ItemFileReadStore");
		dojo.require("dojox.data.QueryReadStore");

		// for the colorpalette
		function setColor(color){
			var theSpan = dojo.byId("outputSpan");
			dojo.style(theSpan,"color",color); 
			theSpan.innerHTML = color;
		}

		// for the calendar
		function myHandler(id,newValue){
			console.debug("onChange for id = " + id + ", value: " + newValue);
		}

		dojo.addOnLoad(function() {

			// this is just a list of 'official' dijit themes, you can use ?theme=String 
			// for 'un-supported' themes, too. (eg: yours) 
			var availableThemes = [
				{ theme:"tundra", author:"Dojo", baseUri:"../themes/" },
				{ theme:"soria", author:"nikolai", baseUri:"../themes/" },
				//{ theme:"noir", author:"owen", baseUri:"../themes/"},
				{ theme:"nihilo", author:"nikolai", baseUri:"../themes/" }
			];

			var start = new Date().getTime();
			dojo.parser.parse(dojo.byId('container')); 
			console.info("Total parse time: " + (new Date().getTime() - start) + "ms");

			dojo.byId('loaderInner').innerHTML += " done.";
			setTimeout(function hideLoader(){
				var loader = dojo.byId('loader'); 
				dojo.fadeOut({ node: loader, duration:500,
					onEnd: function(){ 
						loader.style.display = "none"; 
					}
				}).play();
			}, 250);

			var strayGlobals = [];
			for(var i in window){
				if(!window.__globalList[i]){ strayGlobals.push(i); }
			}
			if(strayGlobals.length){
				console.warn("Stray globals: "+strayGlobals.join(", "));
			}
		});

	</script>
</body>
{% endblock %}
