<html>
<head>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dijit/themes/claro/claro.css" media="screen">
</head>
<body class="claro">
		<script>
			var dojoConfig = {
				parseOnLoad : true,
				dojoBlankHtmlUrl: location.pathname.replace(/\/[^/]+$/, '') + '/blank.html',
				packages: [{
					name: 'custom',
					location: '/static/lib/js'
				}]
			};
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"></script>

<button data-dojo-type="dijit/form/Button" type="button">Create ZPool
    <script type="dojo/on" data-dojo-event="click" data-dojo-args="evt">
			require([ "custom/nasadmin"], function(nasadmin){
				nasadmin().volumeWizard('Volume Manager', '/storage/wizard', [this,]);
			});
    </script>
</button>

</body>
</html>
