<html>
<head>
<link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/dojo/1.8.1/dijit/themes/claro/claro.css" media="screen">
</head>
<body class="claro">
		<script>
			var dojoConfig = {
				dojoBlankHtmlUrl: location.pathname.replace(/\/[^/]+$/, '') + '/blank.html',
				packages: [{
					name: 'custom',
					location: '/static/lib/js'
				}]
			};
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/dojo/1.8.3/dojo/dojo.js"></script>
		<script>

			require([ "custom/nasadmin"], function(nasadmin){
				nasadmin().mytest1("hello Marvin!");
			});
		</script>




</body>
</html>