<form data-dojo-type="dijit.form.Form">
    <script type="dojo/event" data-dojo-event="onSubmit" data-dojo-args="e">
        formSubmit(this, e,  '/storage/wizard/',
        function(){wizardcheckings();}, {progressbar: true});
    </script>
    <table>
        
        <tr>
            <td style="width:150px;">
                Volume name
            </td>
            <td>
                
                <input name="volume_name" required="false" maxLength="30" promptMessage="" type="text" id="id_volume_name" dojoType="dijit.form.ValidationTextBox" />
            </td>
        </tr>
        
        <tr>
            <td>
                Member disks (<span id="wizard_num_disks">0</span>)
            </td>
            <td>
            
            <select data-dojo-type="dijit.form.MultiSelect" id="wizarddisks" data-dojo-props="name: 'volume_disks', size: 6, multiple: true" multiple="true">
                <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                    wizardcheckings(true);
                </script>
                
                <option value="da0" >da0 (4.3 GB)</option>
                
                <option value="da1" >da1 (4.3 GB)</option>
                
            </select>
            </td>
        </tr>
        <tr id="zfssectorsize" style="display: none">
            <td>Force 4096 bytes sector size</td>
            <td>
                
                <input id="id_force4khack" type="checkbox" name="force4khack" dojoType="dijit.form.CheckBox" />
            </td>
        </tr>
        <tr id="grpopt" style="display:none;">
            <td style="width:200px;">
                Group type
            </td>
            <td style="width:250px;">
                
                <span id="grpmirror">
                    <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-props="name: 'group_type', value: 'mirror', onClick: function() { wizardcheckings(true); }" />
                    mirror
                    <br />
                </span>
                <span id="grpstripe">
                    <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-props="name: 'group_type', value: 'stripe', onClick: function() { wizardcheckings(true); }" />
                    stripe
                    <br/>
                </span>
                <span id="grpraid3">
                    <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-props="name: 'group_type', value: 'raid3', onClick: function() { wizardcheckings(true); }" />
                    raid3
                    <br />
                </span>
                <span id="grpraidz">
                    <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-props="name: 'group_type', value: 'raidz', onClick: function() { wizardcheckings(true); }" />
                    RAID-Z
                    <br />
                </span>
                <span id="grpraidz2">
                    <input type="radio" data-dojo-type="dijit.form.RadioButton" data-dojo-props="name: 'group_type', value: 'raidz2', onClick: function() { wizardcheckings(true); }" />
                    RAID-Z2
                </span>
            </td>
        </tr>
        <tr id="zfsextra" style="display:none;">
            <td style="width:200px;">
                ZFS Extra
            </td>
            <td style="width:250px;" id="disks_unselected">
                
                    <span id="lowlog" style="display:none;color:red;">The use of only 1 log disk is highly discouraged</span>
                
                <table>
                    <thead>
                        <tr>
                            <td>Disk</td>
                            <td>None</td>
                            <td>Log</td>
                            <td>Cache</td>
                            <td>Spare</td>
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
            </td>
        </tr>
        <tr id="ufspathen" style="display:none;">
            <td style="width:150px;"> Specify custom path</td>
            <td>
                
                <input name="ufspathen" onClick="toggleGeneric(&quot;id_ufspathen&quot;, [&quot;id_ufspath&quot;], true);" type="checkbox" id="id_ufspathen" dojoType="dijit.form.CheckBox" />
            </td>
        </tr>
        <tr id="ufspath" style="display:none;">
            <td style="width:150px;"> Path</td>
            <td>
                
                <input disabled="disabled" name="ufspath" maxLength="1024" promptMessage="Leaving this blank will give the volume a default path of /mnt/${VOLUME_NAME}" required="false" type="text" id="id_ufspath" dojoType="dijit.form.ValidationTextBox" />
            </td>
        </tr>
    </table>
        <button data-dojo-type="dijit.form.Button" type="submit" data-dojo-props="type:'submit'" class="submitform">
    <script type="dojo/method">
        wizardcheckings(true, true);
    </script>
    Add Volume<br />
    <b style="color: red">Existing data will be cleared</b>
        </button>
        <button data-dojo-type="dijit.form.Button" type="button" class="cancelform">
            Cancel
            <script type="dojo/method" data-dojo-event="onClick" data-dojo-args="evt">
                cancelDialog(this);
            </script>
        </button>
</form>
